.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 20px 12px;

  &:hover {
    background-color: rgb(148, 76, 101);
  }

  &:active {
    opacity: 0.6;
  }
}
