//font-colors

$font-primary-color: #52503b;

//background-colors

$background-primary-color: #faf8f0;

// Viewports

$tablet-width: 1365px;
$mobile-width: 767px;
$mobile-width-only: 767px;
$desktop-width-only: 1439px;
